<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {}
                    }
                }
            }
        </script>
        <style type="text/tailwindcss">
            @layer utilities {
                a {
                    @apply text-lime-700;
                }
            }
        </style>
    </head>
    <body class="bg-lime-50">
        {% block body %}{% endblock %}
    </body>
</html>