{% extends "base.html" %}

{% block body %}
    <script src="{{ url_for('static', filename='hancock.js') }}"></script>

    <div class="p-4 md:py-6 md:px-14 my-4 md:mx-8 border-2 md:border-8 border-bordercol bg-textbg rounded-lg">
        <p class="p-2 text-lg md:text-base">Hancock is an open source service that makes it easy for you to request signatures from your users.</p>
        <p class="p-2 text-lg md:text-base">It's designed to be easy to use (for you and your users); accessible, so everyone can use it; and secure, so you know you can trust and verify the signatures.</p>    
    
        <h2 class="p-2 text-2xl md:text-lg font-bold">Try it!</h2>
        <p class="p-2 text-lg md:text-base">Fill in this form to create a "signature session", hopefully it's simple enough to just start using, but if you want to learn more, <a href="/docs/" class="font-semibold text-hyperlinkcolour hover:text-sky-600 hover:shadow-xl underline">read our documentation</a>.</p>
        <form id="request-form">
            <div class="block p-2 my-4">
                <label for="api-key" class="block font-bold uppercase text-xl md:text-base">API Key:</label>
                <input type="password" id="api-key" name="api_key" value="123" class="focus:shadow-xl h-12 md:h-14 text-2xl md:text-base focus:border-blue-500 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none w-full" required>
            </div> 
            <div class="block p-2 my-4">
                <label for="redirect_uri" class="block font-bold uppercase text-xl md:text-base">Redirect URI:</label>
                <input type="url" id="redirect_uri" name="redirect_uri" value="{{ request.url }}" class="focus:shadow-xl h-12 md:h-14 text-2xl md:text-base  focus:border-blue-500 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none w-full" required >
            </div>
            <div class="block p-2 my-4">
                <label for="title" class="block font-bold uppercase text-xl md:text-base">Document Title:</label>
                <input type="text" id="title" name="title" value="" class="focus:shadow-xl h-12 md:h-14 text-2xl md:text-base focus:border-blue-500 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none w-full" required >
            </div>   
            <div class="block p-2 my-4">
                <label for="declaration" class="block font-bold uppercase text-xl md:text-base">Declaration:</label>
                <textarea name="declaration" id="declaration" cols="60" rows="4" placeholder="e.g. I, the undersigned, think that Hancock is a fantastic tool!" class="focus:shadow-xl text-2xl md:text-base focus:border-blue-500 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none w-full" required></textarea>
            </div>
            <div class="block p-3 my-4 md:border-4 border-slate">
                <label for="signee_email" class="block font-bold uppercase text-xl md:text-base">Signee Email:</label>
                <input type="email" id="signee_email" name="signee_email" class="focus:shadow-xl h-12 md:h-14 text-2xl md:text-base focus:border-blue-500 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none w-full" required >

            </div>
            <div class="flex justify-center py-2">
                <input type="submit" value="Sign Here" class="rounded text-white font-['Oswald'] font-extrabold tracking-widest uppercase p-4 border-b-4 border-bordercol bg-[#00856C] hover:bg-[#005C4B] text-xl md:text-base">
            </div>  
        </form>
    </div>
    <script>
        (() => {
            let form = document.getElementById("request-form");
            form.addEventListener("submit", evt => {
                evt.preventDefault();
                window.requestSignature(
                    window.location.origin,
                    document.getElementById("api-key").value,
                    {
                        redirect_uri: document.getElementById("redirect_uri").value,
                        title: document.getElementById("title").value,
                        declaration: document.getElementById("declaration").value,
                        signee_email: document.getElementById("signee_email").value,
                    }
                );
                return false;
            });
        })();
    </script>
{% endblock %}