{% extends "base.html" %}

{% block body %}
<h1>Hancock - Simple, Accessible, and Secure Electronic Signatures</h1>
<p>Hancock is an open source service that makes it easy for you to request signatures from your users.</p>
<p>It's designed to be easy to use (for you and your users); accessible, so everyone can use it; and secure, so you know you can trust and verify the signatures.</p>
<h2>Try it!</h2>
<p>Fill in this form to create a "signature session", hopefully it's simple enough to just start using, but if you want to learn more, <a href="/docs/">read our documentation</a>.</p>
<form action="{{ url_for('hancock.create_session') }}" method="POST" target="_blank" rel="opener">
    <label for="api-key">API Key</label>
    <input type="password" id="api-key" name="api_key" value="123" required>

    <label for="redirect-uri">Redirect URI</label>
    <input type="url" id="redirect-uri" name="redirect_uri" value="{{ request.url }}" required >

    <label for="signee-email">Signee Email</label>
    <input type="email" id="signee-email" name="signee_email" required >

    <label for="declaration">Declaration</label>
    <textarea name="declaration" id="declaration" cols="30" rows="10" placeholder="e.g. I, the undersigned, think that Hancock is a fantastic tool!" required></textarea>

    <input type="submit" value="Sign Here">
</form>
{% endblock %}