{% extends "base.html" %}

{% block body %}
    <h1 class="mb-8">Signature</h1>
    {% if details.status == "SIGNED" %}
        <div class="">
            <div class="bg-white border border-black pt-2 pb-1 px-2 rounded">
                <h2 class="border-0">{{ details.title }}</h2>
                <p class="">{{ details.declaration }}</p>
                <p class="text-right mt-2">
                    <a href="{{ details.redirect_uri }}" rel="noopener" target="_blank">
                        Read full document
                        <i class="fal fa-fw fa-external-link"></i>
                    </a>
                </p>
            </div>
            <div class="bg-white border border-black mt-2 p-2 rounded inline-block">
                <object type="image/svg+xml" data="{{ url_for('hancock.get_signature_svg', sid=sid) }}" class="w-full"></object>
            </div>
            <div class="">
                <p>Signature requested by <strong>{{ details.created_by }}</strong> on <span data-ts="{{ details.created_on * 1000}}"></span></p>
            </div>
            <div class="">
                <p>Signed on <span data-ts="{{ details.signed_on * 1000 }}"></span></p>
            </div>
        </div>
    {% else %}
        <p>The signature has not been submitted yet</p>
    {% endif %}
{% endblock %}

{% block extra_body %}
<script>
  (function() {
    document.querySelectorAll("[data-ts]").forEach(elem => {
        let d = new Date(parseFloat(elem.getAttribute("data-ts")));
        elem.innerText = d.toLocaleString();
    })
  })()
</script>
{% endblock %}